<?xml version="1.0"?>
<!-- 1IK213 - Linus Johannesson - VT-2015-->

<configuration>

  <system.net>
    <mailSettings>
      <!-- PLATS FÖR E-POSTSERVER -->
      
    </mailSettings>
  </system.net>

  <connectionStrings>
    
    <!-- Koppling till databasen (ersätter den lokala kopplingen) -->
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=tentamen;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="tentamendb" connectionString="Data Source=localhost;Initial Catalog=tentamen;Integrated Security=True" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
    
  <system.web>
    
    <!-- Lösning för att hantera specialtecken i svar -->
    <pages validateRequest="false" />
    
    <authentication mode="Forms">
      <forms loginUrl="login.aspx"/>
    </authentication>
    <roleManager enabled="true"/>
    
    <!-- Profilen innehåller förnamn och efternamn-->
    <profile>
      <properties>
        <add name="fnamn"/>
        <add name="enamn"/>
      </properties>
    </profile>
    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <!-- Endast åtkomst till administratörssidor-->
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="administratör"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- Endast åtkomst till examinatorsidor-->
  <location path="examinator">
    <system.web>
      <authorization>
        <allow roles="examinator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- Endast åtkomst till studentsidor-->
  <location path="student">
    <system.web>
      <authorization>
        <allow roles="student"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- Endast åtkomst till användaresidor-->
  <location path="user">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>